---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const artworkEntries = await getCollection('artwork');
  
  const sortedEntries = artworkEntries.sort((a, b) => 
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  );
  
  return sortedEntries.map((entry, index) => {
    const nextEntry = sortedEntries[index - 1] || null;
    const prevEntry = sortedEntries[index + 1] || null;
    
    return {
      params: { slug: entry.slug },
      props: { 
        entry,
        nextEntry,
        prevEntry
      },
    };
  });
}

const { entry, nextEntry, prevEntry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <div class="art-wrap">
    <div>
      {prevEntry ? (
        <a href={`/artwork/${prevEntry.slug}`}>
          <img src="/images/previous-arrow.svg" alt="Previous">
        </a>
      ) : (
        <span style="color: #ccc;">← No previous work</span>
      )}
    </div>
    <img src={entry.data.image} alt={entry.data.title} />
    <div>
      {nextEntry ? (
        <a href={`/artwork/${nextEntry.slug}`}>
          <img src="/images/next-arrow.svg" alt="Next">
        </a>
      ) : (
        <span style="color: #ccc;">No newer work →</span>
      )}
    </div>
  </div>
  <div class="logo">
    <a href="/"><img src="/images/fhb-logo-black.png" alt="FLAWEDHUMANBEING"></a>
  </div>
  <div class="artwork-description">
    <Content />
    <p class="content-date">{entry.data.publishDate.toLocaleDateString()}</p>
  </div>
</BaseLayout>

<style>

  h1 {
    text-align: center;
    color: var(--primary-yellow);
  }

  .art-wrap {
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .artwork-description {
    margin-inline: auto;
    padding: 0 2rem;
    max-width: 70ch;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--primary-yellow);
  }

  .content-date {
    font-size: 1rem;
    color: #FFF;
  }

  .logo {
    margin-block: 1.5rem;
    margin-inline: auto;
    display: block;
    background-color: var(--primary-yellow);
    max-width: 250px;
  }
</style>